Source: ldap-shadow
Build-Depends:
	debhelper (>= 8)
Build-Depends-Indep:
	help2man
Maintainer: Eero Häkkinen <Eero+ldap-shadow@xn--Hkkinen-5wa.fi>
Priority: optional
Section: admin
Standards-Version: 3.9.6

Package: ldap-passwd
Architecture: all
Depends:
	ldap-utils
Recommends:
	help2man,
	libnss-ldapd,
	libpam-ldapd,
	passwdqc
Description: change and administer password and group data for LDAP accounts
 This package provides programs to maintain password and group data for
 user accounts and groups stored on an LDAP server.
 .
 Command-line syntax is very similar to that of programs from the standard
 passwd package.
