Source: ldap-shadow
Build-Depends:
	debhelper-compat (= 13)
Build-Depends-Indep:
	help2man
Maintainer: Eero Häkkinen <Eero+ldap-shadow@xn--Hkkinen-5wa.fi>
Priority: optional
Rules-Requires-Root: no
Section: admin
Standards-Version: 4.5.1

Package: ldap-passwd
Architecture: all
Depends:
	ldap-utils
Recommends:
	help2man,
	ldap-passwdqc,
	libnss-ldapd,
	libpam-ldapd
Description: change and administer password and group data for LDAP accounts
 This package provides programs to maintain password and group data for
 user accounts and groups stored on an LDAP server.
 .
 Command-line syntax is very similar to that of programs from the standard
 passwd package.

Package: ldap-passwdqc
Architecture: all
Depends:
	passwdqc
Description: password strength checking and policy enforcement toolset
 This package provides ldap-pwqcheck and ldap-pwqgen, which are standalone
 password/passphrase strength checking and random passphrase generator
 programs for LDAP accounts, respectively, which are usable from scripts.
