#! /usr/bin/make -f
%: ; dh '$@'

build build-indep: local-build-indep
local-build-indep:
	mkdir -p man/man1 man/man8
	set -e; for f in  bin/ldap-*[!~]; do "./$${f}" --help=troff > "man/man1/$${f##*/}.1"; done
	set -e; for f in sbin/ldap-*[!~]; do "./$${f}" --help=troff > "man/man8/$${f##*/}.8"; done
	sed -i -e 's|\(\\&\)*[.]/|/usr/|g' -- man/man8/*.8

clean: local-clean
local-clean:
	rm -fr -- man
